[submodule "typescript"]
	path = typescript
	url = git@github.com:titaniper/typescript.git
[submodule "golang"]
	path = golang
	url = git@github.com:titaniper/golang.git
[submodule "kafka"]
	path = kafka
	url = git@github.com:titaniper/kafka.git
